<div class='search'>
  
  <div class="inner">
    
    <div class="search-box">
      <%= form_tag(new_item_path, method: :get) do %>
        <%= text_field_tag :keyword, @keyword, placeholder: "キーワードを打ち込んでください" %>
        <%= submit_tag '商品を検索' %>
      <% end %>
    </div>
    <div class="search-results">
      <%= render 'items', items: @items %>
    </div>
  </div>
</div>
