<% if @details %>
<div class="details">
  <div class="inner">
    <h1 class="ttl">item5w1h一覧</h1>
    <% @exist_details.each do |detail| %>
    <%= render 'detail', detail: detail %>
    <div class="btns">
      <%= link_to "5w1h編集", edit_detail_path(detail), class: "btn" %>
      <%= link_to "5w1h削除", detail_path(detail), method: :delete, class: "btn" %>
    </div>
    <% end %>
  </div>
</div>
<% end %>